<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="css/home.css?after" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="./js/home.js"></script>

<title>인사관리</title>

</head>
<body>
	<div id="header">
		<div id="header-left">
			<table>
				<tr>
					<td><h3>직원관리</h3></td>
				</tr>
			</table>
		</div>

		<div id="header-right">
			<button id="search-btn">조회</button>
			<button id="insert-btn">신규</button>
			<button id="delete-btn">삭제</button>
			<button id="save-btn">저장</button>
			<button id="patch-save-btn" style="display: none;">수정저장</button>
		</div>

	</div>
	<div id="search-div">
		<table class="type01">
			<tr class="gray">
				<th>직원번호</th>
				<td><input type="text" id="search-employee-no"></td>
				
				<th>직원이름</th>
				<td><input type="text" id="search-employee-nm"></td>
				
				<th>휴대폰번호</th>
				<td><input type="text" id="search-hp-no"></td>
				
				<th>입사일자</th>
				<td><input type="date" id="search-entr-dt"></td>
				
			</tr>
			<tr>
				<th>근무형태</th>
				<td><select name="language" id="search-wrk-typ-cd">
							<option value="">=== 선택 ===</option>
							<option value="EC1">EC1 : 본사출근</option>
							<option value="EC2">EC2 : 휴가</option>
							<option value="EC3">EC3 : 파견</option>
				</select></td>
				
				<th>삭제여부</th>
				<td><select name="language" id="search-del-yn">
							<option value="">=== 선택 ===</option>
							<option value="Y">Y</option>
							<option value="N">N</option>
				</select></td>
				
				<th></th>
				<td></td>
				
				<th></th>
				<td></td>
			</tr>
		</table>
	</div>

	<div>
		<h3>직원 목록</h3>
	</div>
	<div>
		<table class="type01" id="data-table">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>휴대폰 번호</th>
					<th>이메일</th>
					<th>입사일자</th>
					<th>직급</th>
					<th>직책</th>
					<th>근무형태코드</th>
					<th>퇴사일자</th>
					<th>기본주소</th>
					<th>상세주소</th>
					<th>우편번호</th>
					<th>생년월일</th>
					<th>등록자</th>
					<th>등록일시</th>
					<th>수정자</th>
					<th>수정일시</th>
				</tr>
			</thead>
			<tbody id="employees">
				<tr id="insert-row" style="display: none;">
					<td></td>
					<td><input type="text" id="employee-nm"></td>
					<td><input type="text" id="hp-no"></td>
					<td><input type="text" id="email"></td>
					<td><input type="date" id="entr-dt"></td>
					<td><input type="text" id="rank-nm"></td>
					<td><input type="text" id="pstn-nm"></td>
					<td><select name="language" id="wrk-typ-cd">
							<option value="">=== 선택 ===</option>
							<option value="EC1">EC1 : 본사출근</option>
							<option value="EC2">EC2 : 휴가</option>
							<option value="EC3">EC3 : 파견</option>
					</select></td>
					<td><input type="date" id="retr-dt"></td>
					<td><input type="text" id="base-adr"></td>
					<td><input type="text" id="dtl-adr"></td>
					<td><input type="text" id="zip-no"></td>
					<td><input type="date" id="birth-dt"></td>
					<td><input type="text" id="reg-id"></td>
					<td>  </td>
					<td><input type="text" id="mod-id"></td>
					<td>  </td>
				</tr>
				<tr class="gray" v-for="index in employeeList">
					<td class="employee-no">{{index.employeeNo}}</td>
					<td class="employee-nm">{{index.employeeNm}}</td>
					<td class="hp-no">{{index.hpNo}}</td>
					<td class="email">{{index.email}}</td>
					<td class="entr-dt">{{index.entrDt}}</td>
					<td class="rank-nm">{{index.rankNm}}</td>
					<td class="pstn-nm">{{index.pstnNm}}</td>
					<td class="wrk-typ-cd">{{index.wrkTypCd}}</td>
					<td class="retr-dt">{{index.retrDt}}</td>
					<td class="base-adr">{{index.baseAdr}}</td>
					<td class="dtl-adr">{{index.dtlAdr}}</td>
					<td class="zip-no">{{index.zipNo}}</td>
					<td class="birth-dt">{{index.birthDt}}</td>
					<td class="reg-id">{{index.regId}}</td>
					<td class="reg-dtm">{{index.regDtm}}</td>
					<td class="mod-id">{{index.modId}}</td>
					<td class="mod-dtm">{{index.modDtm}}</td>
			</tbody>
		</table>
	</div>
	<div>
		<table class="type01" id="search-table" style="display: none;">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>휴대폰 번호</th>
					<th>이메일</th>
					<th>입사일자</th>
					<th>직급</th>
					<th>직책</th>
					<th>근무형태코드</th>
					<th>퇴사일자</th>
					<th>기본주소</th>
					<th>상세주소</th>
					<th>우편번호</th>
					<th>생년월일</th>
					<th>등록자</th>
					<th>등록일시</th>
					<th>수정자</th>
					<th>수정일시</th>
				</tr>
			</thead>
			<tbody id="SearchEmployees">
				<tr class="gray" v-for="index in SearchEmployeeList">
					<td class="employee-no">{{index.employeeNo}}</td>
					<td class="employee-nm">{{index.employeeNm}}</td>
					<td class="hp-no">{{index.hpNo}}</td>
					<td class="email">{{index.email}}</td>
					<td class="entr-dt">{{index.entrDt}}</td>
					<td class="rank-nm">{{index.rankNm}}</td>
					<td class="pstn-nm">{{index.pstnNm}}</td>
					<td class="wrk-typ-cd">{{index.wrkTypCd}}</td>
					<td class="retr-dt">{{index.retrDt}}</td>
					<td class="base-adr">{{index.baseAdr}}</td>
					<td class="dtl-adr">{{index.dtlAdr}}</td>
					<td class="zip-no">{{index.zipNo}}</td>
					<td class="birth-dt">{{index.birthDt}}</td>
					<td class="reg-id">{{index.regId}}</td>
					<td class="reg-dtm">{{index.regDtm}}</td>
					<td class="mod-id">{{index.modId}}</td>
					<td class="mod-dtm">{{index.modDtm}}</td>
			</tbody>
		</table>
	</div>
</body>

</html>